header, main, footer .footerContainer {
    max-width: 640px;
    padding-left: 4rem;
    padding-right: 4rem;
}

.header__shopContainer--likes, .header__shopContainer--cart {
    width: 40rem;
}

main .hero__principalSearch, footer .footerInfo__subscribe form {
    flex-direction: row;
}

footer .footerInfo__contact {
    grid-column: 1 / 7;
}

footer .footerInfo__links {
    grid-column: 8 / 13;
}

