:root {
    --main-black: rgb(28, 28, 28);
    --whitesmoke: #f5f5f5;
    --green: rgb(127, 173, 57);
    --dark-green: rgb(102, 139, 45);
    --grey: #6F6F6F; 
}

body {
    position: relative;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-black);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: all 0.6s ease-in;
}

header {
    padding: 5rem 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.header__menuBtn {
    padding: 0 1rem;
    justify-self: right;
    font-size: 2.2rem;
    border: 0.1rem solid var(--main-black);
    border-radius: 0.5rem;
    transform-origin: center;
    transition-duration: 0.3s;
}

.header__menuBtn:hover {
    background-color: rgba(28, 28, 28, 0.1);
}

.header__shop {
    grid-column: 1 / 3;
    justify-self: center;
}

.header__shop, .collapsibleMenu__shop {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    font-size: 1.4;
}

.collapsibleMenu__shop {
    padding-bottom: 2rem;
}

.header__shop i, .collapsibleMenu__shop i {
    font-size: 2rem;
}

.header__shop span, .collapsibleMenu__shop span {
    font-weight: 700;
}

.header__shop button, .collapsibleMenu__shop button {
    position: relative;
}

.header__shop button span, .collapsibleMenu__shop button span {
    position: absolute;
    top: 0;
    right: -1.2rem;
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: white;
    background: #7fad39;
    border-radius: 50%;
}

.collapsibleMenu {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 30rem;
    padding: 5rem 3rem;
    z-index: 2;
    background-color: white;
    overflow-y: scroll;
    transition-duration: 0.6s;
}

.hidden {
    left: -100%;
    opacity: 50%;
}

.visible {
    left: 0;
    opacity: 100%;
}

.collapsibleMenu__head {
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsibleMenu__head button {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 3rem;
    color: var(--green);
    transition-duration: 0.2s;
}

.collapsibleMenu__head button:hover {
    font-size: 3.5rem;
}

.collapsibleMenu__nav {
    padding-bottom: 3rem;
}

.collapsibleMenu__nav #pagesMenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.collapsibleMenu__nav li {
    padding: 1rem 0;
    font-weight: 600;
    border-bottom: 0.1rem solid rgba(28, 28, 28, 0.1);
}

.collapsibleMenu__nav li i {
    padding-left: 0.8rem;
    font-size: 1.4rem;
    vertical-align: middle;
}

.collapsibleMenu__nav a:hover {
    color: var(--green);
    transition-duration: .3s;
}

.collapsibleMenu__redes {
    padding-bottom: 3rem;
    display: flex;
    gap: 2rem;
}

.collapsibleMenu__redes li {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
}

.collapsibleMenu__redes a:hover {
    color: var(--green);
    font-size: 2rem;
    transition-duration: .3s;
}

.collapsibleMenu__contact div {
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

main {
    padding: 0 2rem 5rem;
}

main .hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 3rem;
}

main .hero__departamentsMenu {
    grid-column: 1 / 13;
}

main .hero__departamentsMenu button {
    position: relative;
    width: 100%;
    padding: 0.8rem 3rem;
    text-align: start;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    background-color: var(--green);
}

main .hero__departamentsMenu button:hover {
    background-color: var(--dark-green);
    transition-duration: 0.4s;
}

main .hero__departamentsMenu button .fa-bars {
    padding-right: 1.5rem;
}

main .hero__departamentsMenu button #departamentsArrow {
    position: absolute;
    top: calc(50% - 13px/2);
    right: 3rem;
    font-size: 1.4rem;
}

main .hero__departamentsMenu ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    border: 0.1rem solid rgba(28, 28, 28, 0.1);
    border-top: none;
}

main .hero__departamentsMenu ul li {
    padding: 1rem 3rem;
}

main .hero__departamentsMenu ul li:hover {
    background-color: rgba(28, 28, 28, 0.1);
}

main .hero__principal {
    grid-column: 1 / 13;
}

main .hero__principalSearch, footer .footerInfo__subscribe form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .hero__principalSearch input, footer .footerInfo__subscribe form input {
    height: 5rem;
    padding: 0.8rem 1rem;
    text-align: left;
    background-color: white;
    border: 0.1rem solid rgba(28, 28, 28, 0.1);
    flex-grow: 1;
}

main .hero__principalSearch button, footer .footerInfo__subscribe form button {
    height: 5rem;
    padding: 0 2rem;
    font-size: 1.4rem;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background-color: var(--green);
}

main .hero__principalSearch button:hover, footer .footerInfo__subscribe form button:hover {
    background-color: var(--dark-green);
    transition-duration: 0.4s;
}

main .hero__principalSupport {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

main .hero__principalSupport .fa-phone {
    padding: 1.5rem;
    border-radius: 50%;
    color: var(--green);
    background-color: var(--whitesmoke);
}

main .hero__principalSupport p {
    font-size: 1.8rem;
    font-weight: 700;
}

main .hero__principalSupport span {
    font-size: 1.4rem;
    color: var(--grey);
}

main .hero__principalImage {
    height: 43rem;
    background-image: url("../img/hero/banner.jpg");
    background-size: cover;
    background-position: top center;
    padding-left: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

main .hero__principalImage span {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: var(--green);
}

main .hero__principalImage h2 {
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 5.2rem;
}

main .hero__principalImage p {
    margin-bottom: 1.5rem;
    color: var(--grey);
}

main .hero__principalImage button {
    display: inline-block;
    padding: 1rem 2.8rem;
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: var(--green);
    letter-spacing: 0.2rem;
}

main .hero__principalImage button:hover {
    background-color: var(--dark-green);
    transition-duration: 0.4s;
}

main .featured {
    padding: 5rem 0 0;
}

main .featured__title {
    position: relative;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 800;
}

main .featured__title::after{
    content: "";
    position: absolute;
    bottom: -2.7rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 8rem;
    height: 0.4rem;
    background-color: var(--green);
}

main .featured__categories {
    padding: 5rem 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 1rem;
    font-size: 1.8rem;
    
}

main .featured__categories button:hover {
    color: var(--green);
    transition-duration: 0.3s;
}

main .featured__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 3rem;
}

main .featured__products .productCard__image {
    position: relative;
    height: 27rem;
    max-width: 29rem;
    overflow: hidden;
}

main .featured__products .productCard__image img {
    height: 100%;
    object-fit: cover;
}

main .featured__products .productCard__image:hover > ul {
    bottom: 1.5rem;
}

main .featured__products .productCard__image ul {
    position: absolute;
    bottom: -5rem;
    right: calc(50% - 5rem);
    display: flex;
    gap: 2rem;
    transition-duration: 0.5s;
}

main .featured__products .productCard__image li {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    background-color: white;
    border: 0.1rem solid #EBEBEB;
    border-radius: 50%;
    transition-duration: 0.4s;
}

main .featured__products .productCard__image li:hover {
    color: white;
    background-color: var(--green);
    animation: rotation 0.4s ease-in;
}

@keyframes rotation {
    100% {transform: rotate(360deg);}
}

main .featured__products .productCard__info {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.8rem;
}

main .featured__products .productCard__info span {
    font-size: 2rem;
    font-weight: 900;
}

footer {
    padding: 5rem 2rem;
    background-color: #F3F6FA;
}

footer .footerInfo__contact div {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer h3 {
    padding-bottom: 1.5rem;
    font-weight: 800;
}

footer .footerInfo {
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
}

footer .footerInfo__contact {
    grid-column: 1 / 4;
}

footer .footerInfo__links {
    grid-column: 1 / 4;
}

footer .footerInfo__links ul {
    width: 49%;
    display: inline-block;
    font-size: 1.4rem;
}

footer .footerInfo__links li {
    padding-bottom: 0.5rem;
}

footer .footerInfo__subscribe {
    grid-column: 1 / 4;
}

footer .footerInfo__subscribe p {
    padding-bottom: 2rem;
    font-size: 1.4rem;
}

footer .footerInfo__subscribe ul {
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
}

footer .footerInfo__subscribe li {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 0.1rem solid #EBEBEB;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease-in
}

footer .footerInfo__subscribe li:hover {
    font-size: 1.8rem;
    color: white;
    background-color: var(--green);
}

footer .footer__copyright {
    padding-top: 2rem;
    border-top: 0.1rem solid #EBEBEB;
}

footer .footer__copyright p {
    padding-bottom: 2rem;
    text-align: center;
    color:var(--grey);
}