@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

::root {
    --main-black: rgb(28, 28, 28);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.6rem;
    color: var(--main-black);
    line-height: 1.4em;
}

img, picture, video, iframe, figure {
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

a {
    display: block;
    cursor: pointer;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit
}

form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
}

table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}

svg {
    display: block;
    fill: currentColor;
}